.image-wrapper {
    text-align: center;
    vertical-align: middle;
    max-width: 50%;
    display: block;

    .image-caption {
        color: $grey-color;
        margin-top: $spacing-unit / 3;
    }
}
